:root {
    --primary-color: #5c5751;
    --secondary-color: #DB998F;
    --accent1-color: #2B1109;
    --accent2-color: #91393E;
    --nav-hover-background-color: #fff;

    /* change the values below to your chosen font(s) */
    --heading-font: "Comic Neue", Lato, Helvetica;
    --paragraph-font: "Open Sans", Helvetica, sans-serif;
}


* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    background-color: var(--nav-hover-background-color);
    overflow-wrap: break-word;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: var(--heading-font);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;

}

.headerfix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255, 0.5);
    /* border: 30px double var(--headline-color-on-white); */
    box-shadow: 5px 5px 5px rgb(255, 255, 255, 0.5);
    /* align-items: center;
    justify-content: center; */
    transition: height 0.3s ease, opacity 0.3s ease;
    /* Smooth transition */
    z-index: 1000;
}

.logo {
    padding: 10px;
    /* display: flex;
    justify-content: flex-start; */
    /* Make sure the logo is left aligned within its container */
    align-items: center;
    /* Make sure the image and other content within the container are vertically centered */
    grid-column: 1/2;
    /* If using a grid layout, make sure it occupies the first grid cell */
    /* filter: drop-shadow(5px 5px 5px rgb(145, 57, 62, 0.1)); */
    transition: transform 0.2s ease;
}

.logo:hover {
    transform: translate(10px, 10px);
}

h1:hover {
    color: var(--accent2-color);
}

.product-icon,
.event-icon,
.member-icon,
.contact-icon {
    width: 30%;
    height: auto;
}

.product-link,
.event-link,
.member-link,
.contact-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    color: inherit;
}

#menu {
    text-decoration: none;
    padding: .5rem .75rem;
    width: 2rem;
    border: 0;
    display: block;
    position: absolute;
    right: 1rem;
    background-color: var(--nav-hover-background-color);
}

.navigation,
.footer-link {
    margin: 0;
    width: 100%;
    font-size: 1.25rem;
    font-weight: bolder;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    text-align: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.navigation {
    grid-column: 2/3;
    padding-right: 1rem;

}




.navigation a,
.footer-link a {
    width: 100%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    /* background-color: var(--nav-background-color); */
    color: var(--primary-color);
}

.navigation a:hover,
.footer-link a:hover {
    width: 100%;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: var(--accent2-color);
    transform: translate(5px, 5px);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
}

main {

    row-gap: 2rem;

}

.hero {
    /* margin-top: 200px; */
    grid-row: 1/2;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: auto;
    margin: 5px;
    justify-self: center;
    align-items: center;
}

.hero-box {
    grid-column: 1/4;
    grid-row: 1/4;
    justify-self: center;
    align-items: center;

}

.hero img {
    /* To avoid content overlapping with the header */
    margin-top: 200px;
    max-width: 100%;
    height: auto;
}


.hero-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2,
h4 {
    color: var(--nav-hover-background-color);
    font-family: var(--paragraph-font);
    font-size: 2rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

h3 {
    color: var(--nav-hover-background-color);
    font-family: var(--heading-font);
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.news-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: auto;
    font-size: 1.2rem;
    text-decoration: none;

}

.book {
    padding: 15px 30px;
    background-color: var(--accent2-color);
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    color: var(--nav-hover-background-color);
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    /* transform: translate(2px, 2px); */
}

.book:hover {
    background-color: #A90738;
    color: var(--nav-hover-background-color);
    transform: translate(2px, 2px);
    /* box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4); */
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}


.product-cards {
    grid-row: 2/3;

}

.bag,
.wristlet,
.holder {
    padding: 2px;
    border: 5px solid var(--nav-hover-background-color);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    color: var(--accent1-color);
    transition: transform 0.2s ease;
}

.bag-img,
.wristlet-img,
.holder-img {
    border: 5px solid var(--nav-hover-background-color);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease;
}

.bag:hover,
.wristlet:hover,
.holder:hover {
    transform: translate(10px, 10px);
}


figcaption {
    font-size: 1.5rem;
    padding: 5px;
}

.join {
    background-color: #9D9791;
    /* position: relative; */
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
    text-align: center;
    align-content: center;
}

.join-area {
    /* max-width: fit-content;
    height: auto; */
    grid-column: 3 / 4;
    grid-row: 3/4;
    z-index: 1;
    /* position: relative; */
    /* text-align: center; */
    margin: 0;
    padding: 0;
    color: white;
    justify-items: center;
}

.join-link {
    max-width: 450px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    margin-right: 0.5rem;
    background-color: var(--accent2-color);
    border: 2px double var(--nav-hover-background-color);
    margin-bottom: 1rem;
}


.join-link:hover {
    background-color: #A90738;
    transform: translate(5px, 5px);
}



.join-area p {
    line-height: 1.5rem;
    text-align: justify;
    /* 兩端對齊文字 */
    letter-spacing: 0.25rem;
    /* 字母之間的間距 */
    padding: 0.5rem;
}

.join-title {
    padding: 0.5rem;
    margin: 0;
    font-size: 2rem;
}

.join-title a {
    text-decoration: none;
    color: var(--nav-hover-background-color);
}

.join-img {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    width: 90%;
    height: auto;
    object-fit: cover;
    z-index: 0;
    margin: 0;
    padding: 0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.join img {
    margin: 1rem;
}

.join-area a {
    text-decoration: none;
    color: var(--nav-hover-background-color);
}

footer {
    background-color: var(--nav-hover-background-color);
    border: 3px solid var(--nav-hover-background-color);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.footer-logo {
    grid-column: 1/2;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Make sure the logo is left aligned within its container */
    align-items: center;
    /* Make sure the image and other content within the container are vertically centered */
    transition: transform 0.2s ease;
}

.footer-logo:hover {
    transform: translate(5px, 5px);
}

.footer-logo img {
    max-width: 80%;
    height: auto;
}

.footer-area {
    grid-column: 2/3;
    /* align-items: flex-end; */
}

.footer-link,
.social {
    grid-row: 1/2;
    text-decoration: none;
    color: var(--accent1-color);

}

.footer-link {
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
}

#footer-name {
    grid-column: 1/4;
    grid-row: 2/3;
    align-self: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.social {
    margin-left: 20px;
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}


footer a:hover {
    color: var(--accent2-color);
    text-decoration: underline;
}





/* mobile view */
@media screen and (max-width: 1023px) {
    body {
        font-size: 14px;
        display: block;
        margin: 0 auto;
    }


    .product-icon,
    .event-icon,
    .member-icon,
    .contact-icon {
        width: 10%;

    }

    .headerfix,
    .logo,
    .product-cards,
    .footer-area {
        display: flex;
        flex-direction: column;
    }

    .join,
    .join-area,
    .join-link {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .join-link {
        max-width: 90%;
        height: auto;
    }

    .join-title {
        padding: 0.5rem;
        margin: 0;
    }

    /*    main,.hero */
    .navigation a {
        display: none;
    }

    .navigation {
        /* background-color: var(--nav-hover-background-color); */
        gap: 0;
        display: block;
    }

    #menu::before {
        content: "☰";
        font-size: 1.5rem;
        font-weight: bolder;
    }

    #menu.open::before {
        content: "❌";
    }

    #menu.open {
        display: block;
    }


    .navigation.open a {
        display: block;
        font-size: 1.5rem;
    }


}