:root {
    /* change the values below to your colors from your palette */
    --primary-color: #EFD8D3;
    --secondary-color: #DB998F;
    --accent1-color: #2B1109;
    --accent2-color: #91393E;


    /* change the values below to your chosen font(s) */
    --heading-font: "Comic Neue", Lato, Helvetica;
    --paragraph-font: "Open Sans", Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #91393E;
    /* headlines on a white background */
    --headline-color-on-color: #2B1109;
    /* headlines on a colored background */
    --paragraph-color-on-white: #91393E;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #2B1109;
    /* paragraph text on a colored background */
    --paragraph-background-color: #EFD8D3;
    --nav-link-color: #91393E;
    --nav-background-color: #EFD8D3;
    --nav-hover-link-color: #DB998F;
    --nav-hover-background-color: #fff;
}

/* Desktop Views ****************************/
@media screen and (min-width: 1024px) {
    body {
        font-size: 20px;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .temple-album {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        align-items: center;
        justify-content: center;
    }

    .temple img {
        width: 100%;
        height: auto;
        max-width: 340px;
        border-radius: 15px;
    }

    .navigation a:not(#menu),
    .navigation.open a:not(#menu) {
        display: block;
        width: fit-content;
    }
}